trigger:
  branches:
    include:
      - main
      - develop
  paths:
    include:
      - app/*

variables:
  - name: imageName
    value: pr-bot-azdo-api
  - name: kvName
    value: kv-azdo-pr-bot
  - name: acrServiceConnection
    value: azdo-pr-bot-acr-service-connection
  - name: azRGServiceConnection
    value: azdo-pr-bot-rg-service-connection
  - name: appName
    value: azdo-pr-bot


pool:
  name: Default
  demands:
    - agent.name -equals mac-docker-agent  # Self-hosted because of money


stages:
  # ------------------------
  # ----- Build Phase ------
  # ------------------------
  - stage: Build
    displayName: Build
    condition: or(eq(variables['Build.SourceBranchName'], 'main'), eq(variables['Build.SourceBranchName'], 'develop'))
    jobs:
      - deployment: BuildAndPush
        environment: generic-build-env # Separate one for this example, skips approval
        displayName: Test, build and Push the image
        strategy:
          runOnce:
            deploy:
              steps:
                - checkout: self
                - task: AzureKeyVault@2
                  displayName: Fetch Secrets from KV
                  inputs:
                    azureSubscription: $(azRGServiceConnection)
                    KeyVaultName: $(kvName)
                    SecretsFilter: '*'
                    RunAsPreJob: true

                - script: |
                    if ! command -v uv &> /dev/null
                    then
                      echo "uv not found, installing..."
                      curl -LsSf https://astral.sh/uv/install.sh | sh
                      # Add uv to PATH for this session
                      echo "##vso[task.prependpath]$HOME/.local/bin"
                    else
                      echo "uv already installed"
                    fi
                  displayName: 'Install uv'

                - script: |
                    uv sync
                  displayName: 'Synchronize virtual environment'

                - script: |
                    export PR_APP_AGENT_API_KEY="$(AgentAPIKey)"
                    export CI="1"

                    uv run pytest
                  displayName: 'Run evals and tests'

                - task: Docker@2
                  displayName: Login to ACR
                  inputs:
                    containerRegistry: 'azdo-pr-bot-acr-service-connection'
                    command: 'login'

                - script: |
                    docker run --privileged --rm tonistiigi/binfmt --install all
                    docker buildx create --use
                    docker buildx build --platform linux/amd64 \
                      -t $(AcrUrl)/$(imageName):$(Build.BuildId) \
                      --push $(Build.SourcesDirectory)
                  displayName: Build and push to ACR with BuildX


  # ------------------------
  # --- Deployment Phase ---
  # ------------------------
  - stage: Deploy
    displayName: Deploy
    dependsOn: Build
    condition: and(succeeded(), or(eq(variables['Build.SourceBranchName'], 'main'), eq(variables['Build.SourceBranchName'], 'develop')))  # In real-world scenario we'd have a dev deployment stage off develop and a prod one off main
    jobs:
      - deployment: Deploy
        environment: main-yi # Used to ensure manual approval before updating a live app
        displayName: Deploy Image to Azure App Service
        strategy:
          runOnce:
            deploy:
              steps:
                - task: AzureKeyVault@2
                  displayName: Fetch Secrets from KV
                  inputs:
                    azureSubscription: $(azRGServiceConnection)
                    KeyVaultName: $(kvName)
                    SecretsFilter: '*'
                    RunAsPreJob: true

                - task: AzureWebAppContainer@1
                  displayName: Deploy to Azure App Service
                  inputs:
                    azureSubscription: $(azRGServiceConnection)
                    appName: $(appName)
                    containers: '$(AcrUrl)/$(imageName):$(Build.BuildId)'

                - task: AzureAppServiceSettings@1
                  displayName: Create/Update App Service Settings
                  inputs:
                    azureSubscription: $(azRGServiceConnection)
                    appName: $(appName)
                    resourceGroupName: 'rg-azdo-pr-bot'
                    appSettings: |
                      [
                        {"name": "PR_APP_ORGANIZATION", "value": "$(AzDoOrgName)", "slotSetting": false},
                        {"name": "PR_APP_PROJECT", "value": "$(AzDoProjectName)", "slotSetting": false},
                        {"name": "PR_APP_AZURE_CLIENT_ID", "value": "$(AzDoClientId)", "slotSetting": false},
                        {"name": "PR_APP_AZURE_CLIENT_SECRET", "value": "$(AzDoClientSecret)", "slotSetting": false},
                        {"name": "PR_APP_AZURE_TENANT_ID", "value": "$(AzDoTenantId)", "slotSetting": false},
                        {"name": "LOGFIRE_TOKEN", "value": "$(LogfireToken)", "slotSetting": false},
                        {"name": "PR_APP_LOGFIRE_DEPLOYMENT_ENV", "value": "live", "slotSetting": false},
                        {"name": "PR_APP_AGENT_API_KEY", "value": "$(AgentAPIKey)", "slotSetting": false},
                        {"name": "PR_APP_JWT_SECRET_STRING", "value": "$(JWTEncodingToken)", "slotSetting": false}
                      ]
